@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Work+Sans:wght@300&display=swap');
*{
    --yellow:#FDD68B;
    --blue:#173D58;
    --scrollbarBG: var(--blue);
    --thumbBG: #fd7e14;
    --orange: #EC3C1A;
}

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    user-select: none;
}
html{
    scroll-behavior: smooth;
}
body::-webkit-scrollbar {
    width: 11px;
  }
  body {
    display:flex ;
    scrollbar-width: thin;
    scrollbar-color: var(--thumbBG) ;
  }
  body::-webkit-scrollbar-track {
    background: var(--blue);
  }
  body::-webkit-scrollbar-thumb {
    background-color: var(--thumbBG) ;
    border-radius: 6px;
    /* border: 3px solid var(--scrollbarBG); */
  }

/* svgs --------------------------------------------------------------*/
.svg{
    /* z-index: 2; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    animation:spin 10s linear infinite;
}

.one{
    top: 93px;
    left:193px;
    transform: rotate(25deg);
    animation:spin2 10s linear infinite;;
}
.two {
    top:10%;
    right:9%;
    stroke:#A9D8CE;
    stroke-width: 0.5;
    transform: rotate(98deg) ;
    animation:spin 10s linear infinite;;
}
.three {
    top:150px;
    right:40%;
    stroke:#BDBD00;
    stroke-width: 0.5;
    transform: rotate(42deg) ;
    animation:spin2 10s linear infinite;;
}
.four {
    top:40%;
    left:20%;
    stroke:#009999;
    stroke-width: 0.5;
    transform: rotate(76deg) ;
    animation:spin 10s linear infinite;;
}
.five {
    top:45%;
    right:2%;
    height:50px;
    transform: rotate(76deg) ;
    animation:spin2 10s linear infinite;;
}
.six {
    top:5%;
    left:5%;
    height:50px;
    transform: rotate(76deg) ;
    animation:spin2 10s linear infinite;;
}
.seven {
    top:0%;
    right:40%;
    stroke:#2FD6BD;
    stroke-width: 0.5;
    transform: rotate(98deg) ;
    animation:spin 10s linear infinite;;
}
.eight{
    top:10%;
    right:12%;
    height:60px;
    transform: rotate(76deg) ;
    animation:spin2 10s linear infinite;
}
.nine{
    top:20%;
    left:20%;
    height:60px;
    transform: rotate(76deg) ;
    animation:spin 10s linear infinite;
}
.ten{
    top:80%;
    left:8%;
    height:60px;
    transform: rotate(7deg) ;
    animation:spin 10s linear infinite;
}
/* ------------------------------------------------------------------- */
.sidebar{
flex: 0.7;
background-color: var(--blue);
height:100vh;
position:sticky;
color:white;
display: flex;
align-items:center;
flex-direction: column;
z-index: 1;
top: 0;
left: 0;
overflow-x: hidden;
}

.logo{
    height:55px;
    margin-block:50px;
    margin-inline: 5px;
    margin-bottom:30px;
}
.sidebar h2{
    writing-mode: vertical-rl;
    text-align: center;
    font-weight: 500;
    font-size: 1em;
    font-family: 'Work Sans', sans-serif;
    margin:10px 5px;
}
.sidebar hr{
    writing-mode: vertical-rl;
    width:1px;
    height: 60px;
}
.sidebar .icon{
    cursor:pointer;
    margin:10px;
    height: 25px;
    fill:white;
    transition:all ease 0.3s;
}
.sidebar .icon:hover{
    fill: #e7bd6e;
    transform: scale(1.1);
}
.main-body{
    flex:9.3;
    display:flex;
    position: relative;
    flex-direction: column;
}
.home{
    width:100%;
    height:100vh;
    display: flex;
    flex-direction: column;
    
}
.nav{
    background-color: white;
    display:flex;
    justify-content: flex-start;
    width:100%;
    height:80px;
    position: fixed;
    top:0;
    transition: all ease-in-out 0.3s;
}
.nav ul{
    display: flex;
    justify-content: space-around;
    width:40%;
    list-style: none;
    margin:30px 0;
}
.nav ul li a{
    text-decoration: none;;
    color:#173D58;
    font-family: 'Work Sans', sans-serif;
    font-weight: 600;
    cursor: pointer;    
    padding:20px 0;
}
.nav a::after{
    content: "";
    width:0%;
    height:3px;
    display:block;
    background-color:#A9D8CE;
    margin-top: 10px;
}

.nav a:hover::after{
    width:100%;
    transition: all ease 0.3s;
}

.big-eye{
    align-self: center;
    position:absolute;
    left:42%;
    transform: translateX(-50%);
    /* padding-inline: 5px; */
}
.nav .eye{
    position: relative;
    margin:30px 0px;
    width:40px;
    height:30px;
    background-color: #173D58;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-items: center;
}
.eye .wrapper{
    position: relative;
    width: 50%;
    transform: translate(-50%,-50%);
}
.eye .iris{
    position:relative;
    background-color: #e7bd6e;
    width:10px;
    height:10px;
    border-radius: 50%;
    transition: all ease 0.2s;
}
.big-eye span{
    position: absolute;
    height:15px;
    width:3px;
    background-color: #173D58;
    top:12px;
    opacity: 0;
    transition: all ease 0.3s;
}
.big-eye span:nth-child(1){
    transform: rotate(-20deg);
    left:3px;
    top:15px;
}
.big-eye span:nth-child(2){
    left:50%;
    transform: translateX(-50%);
}
.big-eye span:nth-child(3){
    transform: rotate(20deg);
    right:3px;
    top:15px;
}
.big-eye:hover span{
    opacity: 1;
}
.big-eye:hover .eye .iris{
    height:15px;
    width:15px;
}

.home-content{
    display: flex;
    flex-direction: column;
    margin-top:100px;
}
.home-content .content{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin:60px 80px;
    margin-bottom: 30px;
    line-height: 3em;
}
.content span{
    font-size: 3em;
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    color: var(--blue);
}
.home-content .picture{
    display: flex;
    justify-content: flex-end;
    margin:20px 100px;
}
#about{
    color: white;
    font-family: 'Work Sans', sans-serif;
    font-weight: 100;
    background-color: var(--blue);
    height: 100vh;
    width:100%;
    position: relative;
    display: flex;
    align-items: center;
    /* justify-content: center; */
}
.about-me{
    z-index: 2;
    position: absolute;
    font-size: 10em;
    font-weight: 900;
    text-shadow: var(--blue) 0px 0px 10px,   var(--blue) 0px 0px 10px,   var(--blue) 0px 0px 10px,
             var(--blue) 0px 0px 10px,   var(--blue) 0px 0px 10px,   var(--blue) 0px 0px 10px;
}
.a{
    color:#E7358A;
    top:-10%;
    left:-5%;
}
.b{
    color:#EC3C1A;
    left: 110%;
    top:10%
}
.o{
    color:#A9D8CE;
    top:55%
}
.u{
    color:#ffffff;
    left: 125%;
    top:80%
}
.t{
    color:#F02238;
    left: 50%;
    top:115%
}
.about-content{
    width: 80%;
    display:flex;
    justify-content: center;
}
.about-text{
    flex:0.4;
    margin: 20px 30px;
    margin-right: 120px;;
}
.about-text p{
    
    width:15em;
    padding:50px 0;
    font-size: 1.15em;
    line-height: 1.375em;
}
.about-img{
    /* margin-left: 20px;; */
    display: flex;
    position: relative;
    cursor: pointer;
}
.me{
    width:15em;
    height:20em;
    position: relative;
    z-index: 1;
    border-radius: 15px;;
}
.me-bg{
    position: absolute;
    width:15em;
    height:20em;
    top:10%;
    left: 20%;
    border-radius: 15px;

}
.about-text span{
    background-color: var(--orange);
    padding: 7px 18px;
    font-size: 1.375em;
    font-weight: 600;
    cursor: pointer;
}
.about-text a{
    text-decoration: none;
    color: white;
}

@keyframes spin { 0%{transform: rotate(0deg);} 100% { transform:rotate(360deg); } }
@keyframes spin2 { 0%{transform: rotate(0deg);} 100% { transform:rotate(-360deg); } }